<ion-content>
  <ion-grid class="ion-padding">
    <ion-row *ngIf="wishLists?.length; else elseblock">
      <ion-col
        *ngFor="let course of wishLists; let i = index"
        size="12"
        size-md="6"
        class="ion-text-center"
      >
        <app-course-card
          [course]="course"
          [index]="i"
          [where]="'wishlist'"
        ></app-course-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #elseblock>
  <ion-text color="danger">
    <h4 class="ion-text-center">No Items in wishlists</h4>
  </ion-text>
</ng-template>
