<ion-card class="course-card" *ngIf="course && course.courseName">
  <ion-row *ngIf="isAdded" class="ion-justify-content-end">
    <ion-icon name="star" color="warning"></ion-icon>
  </ion-row>
  <ion-img
    src="assets/images/course-icon1.png"
    alt="course-icon"
    class="course-card-image"
  ></ion-img>
  <ion-card-header>
    <ion-card-title>{{ course.courseName }}</ion-card-title>
    <ion-card-subtitle>by {{ course.author }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <strong
      ><ion-label class="ion-margin-end">
        {{
          discountedPrice ? "&#8377;" + discountedPrice : course.actualPrice
        }}</ion-label
      ></strong
    >
    <ion-label *ngIf="discountedPrice" class="strike-price">{{
      course.actualPrice
    }}</ion-label>
    <p *ngIf="course.tags && course.tags.length">
      <ion-chip *ngFor="let tag of course.tags" color="warning">{{
        tag
      }}</ion-chip>
    </p>
  </ion-card-content>

  <ion-button
    *ngIf="where === 'course'"
    fill="clear"
    size="small"
    (click)="addToCart()"
    >Add To Cart</ion-button
  >
  <ion-button
    *ngIf="where === 'cart'"
    fill="clear"
    size="small"
    (click)="removeFromCart()"
    >Delete</ion-button
  >
  <ion-button
    *ngIf="where === 'course' || where === 'cart'"
    fill="clear"
    size="small"
    (click)="addToWishlist()"
  >
    Add to Wishlist</ion-button
  >
  <ion-button
    *ngIf="where === 'wishlist'"
    fill="clear"
    size="small"
    (click)="removeFromWishlist()"
  >
    Remove From Wishlist</ion-button
  >
  <ion-row class="ion-justify-content-end">
    <ion-button fill="clear" size="small" color="danger">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-card>
