<ion-card class="course-card">
  <ion-row class="ion-justify-content-end">
    <ion-icon name="star" color="warning"></ion-icon>
  </ion-row>
  <ion-img
    src="assets/images/course-icon1.png"
    alt="course-icon"
    class="course-card-image"
  ></ion-img>
  <ion-card-header>
    <ion-card-title>Advanced Machine Learning</ion-card-title>
    <ion-card-subtitle>by Alex Johnson</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <strong><ion-label class="ion-margin-end">&#8377; 1199</ion-label></strong>
    <ion-label class="strike-price">&#8377; 1199</ion-label>
    <p>
      <ion-chip color="warning">Machine Learning</ion-chip>
      <ion-chip color="warning">Python</ion-chip>
    </p>
  </ion-card-content>

  <ion-button fill="clear" size="small">Add To Cart</ion-button>
  <ion-button fill="clear" size="small"> Add to Wishlist</ion-button>
  <ion-row class="ion-justify-content-end">
    <ion-button fill="clear" size="small" color="danger">
      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-row>
</ion-card>
