<ion-header>
  <ion-row class="ion-align-items-center">
    <ion-col size="1">
      <ion-button size="small" fill="clear" routerLink="/dashboard">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-searchbar
        [debounce]="1000"
        (ionInput)="handleInput($event)"
      ></ion-searchbar>
    </ion-col>
    <ion-col size="7" class="ion-text-end">
      <ion-button size="small" fill="clear" color="dark" routerLink="/dashboard"
        >Courses</ion-button
      >
      <ion-button size="small" fill="clear" color="dark" routerLink="/wishlist"
        >Wish List</ion-button
      >
      <ion-button size="small" fill="clear" color="dark" routerLink="/cart"
        >Cart Details</ion-button
      >
      <ion-button size="small" fill="clear" color="dark" routerLink="/profile"
        >Profile</ion-button
      >
      <ion-button (click)="gotoCart()" size="small" color="danger">
        <ion-icon name="cart-outline" size="small"></ion-icon>
        {{ appService.cartTotal ? "&nbsp;&#8377;" + appService.cartTotal : "" }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
